@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFCFC;
}

nav {
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 70px;
    height: 80px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);

}

.logo {
    width: 130px;
}

/* ============nav menu=========== */

#nav-menus {
    width: 30%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#nav-menus a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

#nav-menus a:hover {
    color: #F61515;
    text-decoration: underline;
}

#sign-up-btn {
    outline: none;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: solid #F61515 2px;
    color: #F61515;
    cursor: pointer;
    transition: 0.3s;
}

#sign-up-btn:hover {
    background-color: #F61515;
    color: #ffffff;

}

#account-links a {
    padding: 0 10px 0;
    font-weight: 500;
}

#sign-in {
    font-weight: bold !important;
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
}

#sign-in:hover {
    text-decoration: underline;
}

/* login/signup */
.container {
    width: 900px;
    overflow: hidden;
    margin: 50px auto;
    height: 560px;
    display: flex;
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.25);
}

.img-n-desc {
    width: 50%;
    background-image: url("images/codr-blue-filter.png");
    background-size: cover;
    background-position: center;
    padding: 53px;
    display: flex;
    align-items: center;

}

.img-n-desc p { 
    font-weight: 500;
    font-size: 44px;
    line-height: 72px;
    font-weight: 600;
    background: linear-gradient(90.08deg, #E256CD 11.81%, #FF7527 47.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}

.acc-form {
    width: 50%;
    text-align: center;
    padding: 30px;
    background-color: #FFFFFF;
    position: relative;
}

.page-title {
    margin-bottom: 30px;
    font-size: 22px;
    color: #F61515;
    font-weight: 600;
}

.welcome {
    font-weight: 700;
    font-size: 22px;
}

input[type="email"], input[type="password"]{
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    border: 2px solid #E257CE;
    border-radius: 5px;
}
input[type="email"]:focus, 
input[type="password"]:focus {
    box-shadow: 0px 4px 4px rgba(202, 18, 156, 0.541);

}

.link {
    color: #E257CE;
}


.checkbox-prompt {
    font-size: 14px;
    position: relative;
    right: 90px
}

input[type="submit"] {
    margin: 25px 0 40px;
    padding: 10px 35px;
    width: 300px;
    background-color: #F61515;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    filter: drop-shadow(1px 10px 50px rgba(214, 9, 9, 0.575));
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #f54646;
    transform: scale(1.01);
}

#switch {
    position: absolute;
    font-size: 14px;
    bottom: 20px;
    left: 50%; 
    transform: translate(-50%, -50%); 
}



